.btn {
  border: 1px var(--main-bg-color-1);
  border-radius: 2px;
  margin: 0.5rem;
  min-width: 100px;
  padding: 0.25rem;
  background-color: var(--main-bg-color-3);
  color: --main-typo-color-3;
  
  &.btn-danger {
    background-color: var(--main-danger-color-1);

    &:hover {
      background-color: var(--main-danger-color-2);
    }
  }

  &:hover {
    background-color: var(--main-bg-color-4);
    color: --main-typo-color-3;
    cursor: pointer;
  }

  &.is-google-sign-in {
    background-color: #4c8bf5;
    color: #fff;

  }

  &.is-google-sign-in:hover {
    background-color: #0f64f2;
  }

  

  &.inverted {
    background-color: var(--main-bg-color-1);
    color: #fff;

  }
    
  &.inverted:hover {
    background-color: var(--main-bg-color-3);
    color: --main-typo-color-3;
  }
    

}
@media (max-width: 768px) {
  .btn {
    font-size: 10px;
    padding: 0.2rem;
    width: fit-content;
    
  }
}
