
.p1 {
    padding: 16px 16px 16px 16px ;
}
.m1 {
    margin: 16px 16px 16px 16px ;
}
.bordertb{
    border-top: #81c6b8 1px solid;
    border-bottom: #81c6b8 1px solid;
    width: 100%;
    padding: 16px 0px;
}
