.footer-wrapper {
  background-color: #0a9d80;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);

  .footer-statement-container {
    margin: 1rem;

    .footer-statement {
      font-size: 12px;
    }
  }
  .quick-links-list {
    list-style: none;
    color: white;
    .quick-link-title {
      color: #000;
      
    }
  }
 
}



@media (max-width: 768) {
  .footer-wrapper {
    display: flex;
    
  }
}