* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-height: 100vh;
  position: relative;
}

.body {
  min-height: 70vh;
  overflow-y: scroll;
}

:root {
  --main-bg-color-1: #004c3d;
  --main-bg-color-2: #006753;
  --main-bg-color-3: #007e65;
  --main-bg-color-4: #0a9d80;
  --main-bg-color-5: #7e928d;
  --main-typo-color-1: #000;
  --main-typo-color-2: #ba7e59;
  --main-typo-color-3: #d81e1e;
  font-family: 'Roboto', sans-serif;

  button,
  input[type='submit'],
  input[type='reset'] {
    cursor: pointer;
    outline: inherit;
  }
}

a {
  text-decoration: none;
}

.m-auto {
  margin: auto;
}

.pl {
  padding-left: 5px;
}

.pr {
  padding-right: 5px;
}

.mt1 {
  margin-top: 10px;
}
